* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
  background-color: #36383a;
}

img {
  height: 2rem;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 15%;
}
